<!DOCTYPE html>
<html>
<head>
	<title>Vue Project</title>
</head>
<body>
	<!-- Called the Getter Method for Computer Properties -->
	<div id="app" class="container">
	<div class="row">
		<div class="col-md-12 text-center">
		<h1>I want to eat {{fullmeal}}!</h1>
		<ul class="text-left">
			<li>Meal: {{first}}</li>
			<li>Dessert: {{last}}</li>
		</ul>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Entire Meal:</label>
			<input type="text" class="form-control" v-model="fullmeal" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Meal:</label>
				<input type="text" class="form-control" v-model="first" />
			</div>	
		</div>
		<div id="lastname">
			<div class="form-group">
				<label>Dessert:</label>
				<input type="text" class="form-control" v-model="last" />
			</div>	
		</div>
	</div>		




</body>

<script src="https://unpkg.com/vue@2.2.6"></script>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			first: '',
			last: ''
		},
	computed: {
		fullmeal: function() {
			return this.first + " and " + this.last
		}
	}	
	})

</script>
</html>