<!DOCTYPE html>
<html>
<head>
	<title>Vue Project</title>
</head>
<body>
	<!-- Computer Properties -->
	<div id="app" class="container">
	<div class="row">
		<div class="col-md-12 text-center">
		<h1>I want to eat {{fullmeal}}!</h1>
		<ul class="text-left">
			<li>Meal: {{first}}</li>
			<li>Dessert: {{last}}</li>
		</ul>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Entire Meal:</label>
			<input type="text" class="form-control" v-model="fullmeal" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Meal:</label>
				<input type="text" class="form-control" v-model="first" />
			</div>	
		</div>
		<div id="lastname">
			<div class="form-group">
				<label>Dessert:</label>
				<input type="text" class="form-control" v-model="last" />
			</div>	
		</div>
</div>		

	<hr />	

<div id="app2" class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>I am <strong>{{level}}</strong></h1>
			<h3>Number of meals: {{meals}}</h3>
		</div>
	</div>
	<div class="row">
		<div id="buttons">
			<button type="button" v-on:click="addMeals">Add meals</button>
			<button type="button" v-on:click="decreaseMeals">Decrease meals</button>
		</div>	
	</div>			
		
</div>		




</body>

<script src="https://unpkg.com/vue@2.2.6"></script>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			first: '',
			last: ''
		},
	computed: {
		fullmeal: function() {
			return this.first + " and " + this.last
		}
	},
	
		el: '#app2',
		data: {
			meals: 1
		},
		methods: {
			addMeals: function() {
				return this.meals += 1
			},
			decreaseMeals: function() {
				return this.meals -= 1
			}
		},
		computed: {
			level: function() {
				if (this.meals >= 10) {
					return "Bloated"
				} else if (this.meals >= 5) {
					return "Full"
				} else if (this.meals >= 0) {
					return "Hungry"
				} else {
					return "Famished"
				}
			}
		}	
	})

</script>
</html>